*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --colorBorde:rgb(129, 251, 255);
  --colorFondo:rgb(22, 22, 22);
  text-align: center;
  font-family: Arial;
  font-size: xx-large;
  background-color: var(--colorFondo);
}
h1{
    color: rgb(0, 0, 0);
    background-color: var(--colorBorde);
}
#boton {
  width: 900px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5%;
}
#boton a{
  position: relative;
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 10%;
  text-decoration: none;
  color: var(--colorBorde);
  border: 1px var(--colorBorde) solid;
  background:-webkit-linear-gradient(right, transparent 33.33%, var(--colorBorde) 50%, transparent 66.66%) no-repeat right / 300%;
}
#boton a:hover {
  transition: background-position 0.75s ease;
  -webkit-transition: background-position 0.75s ease;
  -moz-transition: background-position 0.75s ease;
  -ms-transition: background-position 0.75s ease;
  -o-transition: background-position 0.75s ease;
  background-position: left;
}
#boton a[href*="#"] {
    visibility: hidden;
}

@media screen and (max-width: 960px) {
  #boton {
    width: 95%;
    grid-template-columns: repeat(1,1fr);
  }
  body{
    font-size: medium;
  }
}