*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(20, 20, 20);
}
div{
    background-color: rgb(41, 41, 41);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
div div{
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid rgb(141, 0, 0);
    background: no-repeat center;
    background-size: contain;
}

div div:hover{
    filter: saturate(50%);
    -webkit-filter: saturate(50%);
}

#bloqueo{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    border: 0;
    background-color: transparent;
    text-align: center;
}
#mensaje{
    height: auto;
    width: auto;
    background-color: rgb(138, 138, 138);
}
#mensaje p{
    border-radius: 15px;
    padding: 50px;
    background-color: rgb(226, 226, 226);
    font-size: 4em;
}
h1{
    display: none;
    font-size: 4em;
    padding: 50px;
    background-color: rgb(226, 226, 226);
    margin: 15px;
    border-radius: 15px;
}